---
layout: default
title: Fit und Gesund
description: Ernährungsplan, der helfen soll nachhalting und gesund abzunehmen.
---

<div class="row">
  <div class="large-12 columns">
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
        {% include welcome.liquid %}
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
      {% include strategy.liquid %}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
      {% include nutrition_plan.liquid %}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
      {% include smoothies_list.liquid %}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
      {% include meals_list.liquid %}
  </div>
</div>