ul,
ul li ul,
ul li ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@import "_welcome";
@import "_strategy";
@import "_nutrition_plan";
@import "_smoothies_list";
@import "_meals_list";

.github-fork-ribbon-wrapper.right {
    .github-fork-ribbon {
        background-color: #090;
        img {
            width: 30px;
            height: 30px;
        }
    }
}
